
  .fourthbutton{
    
    border: 1px solid  #f6861f;
    background-color: #f6861f;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.6rem;
    font-family: Inter, sans-serif;
    &:hover{
        background-color: white;
        color: #f6861f;
    }
  }
        .textp{padding-left: 40px;
            h1{
                font-size: 2.6rem;    margin-bottom: 1.6rem;
                line-height: 1.2;
                color: #232d40;
                font-family: Inter, sans-serif;
                font-weight: 600;
            }
            p{width: 100%;
                font-size: 1.4rem;
        line-height: 2.4rem;
        color: #5b5f66;
        margin-bottom: 1.6rem;
        font-weight: 500;
        font-family: Inter, sans-serif;
    
            }
        }
