* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container .row {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.container .row .col-7 .irshadlogo {
  display: flex;
  justify-content: start;
  align-items: center;
}
.container .row .col-7 .irshadlogo .logo {
  width: 109px;
  height: 48px;
  margin-right: 98px;
}
.container .row .col-7 .irshadlogo .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .row .col-7 .irshadlogo .katalog {
  margin-right: 18px;
  display: flex;
  border: 1px solid transparent;
  padding: 22px;
  border-radius: 11px;
  background: #40b659;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.container .row .col-7 .irshadlogo .katalog i {
  font-size: 1.3rem;
  color: #fff;
}
.container .row .col-7 .irshadlogo .katalog p {
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  cursor: pointer;
}
.container .row .col-7 .irshadlogo .inputbottom {
  width: 320px;
  height: 66px;
  border-radius: 10px;
  border: 1px solid #dadbdd;
  background-color: #f9f9f9;
  outline: none;
  transition: ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container .row .col-7 .irshadlogo .inputbottom input {
  height: 100%;
  border: none;
  outline: none;
  padding: auto 0;
  padding-left: 35px;
  background-color: transparent;
}
.container .row .col-7 .irshadlogo .inputbottom input::-moz-placeholder {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.211);
}
.container .row .col-7 .irshadlogo .inputbottom input::placeholder {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.211);
}
.container .row .col-7 .irshadlogo .inputbottom i {
  border-left: 1px solid #dadbdd;
  padding: 10px 15px;
  font-size: 1.2rem;
}
.container .row .col-7 .irshadlogo .inputbottom:active {
  border-color: #dc3545;
  background-color: #fff;
}
.container .row .col-3 .navitems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .row .col-3 .navitems li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .row .col-3 .navitems li i {
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 8px;
  transition: ease-in-out 0.3s;
}
.container .row .col-3 .navitems li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.801);
  transition: ease-in-out 0.3s;
}
.container .row .col-3 .navitems li:hover a {
  color: #fd7e14;
}
.container .row .col-3 .navitems li:hover i {
  color: #fd7e14;
}
.container .row .col-2 {
  display: flex;
  justify-content: end;
  align-items: center;
}
.container .row .col-2 .payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.2px solid #40b659;
  border-radius: 8px;
  padding: 18px 30px;
  transition: ease-in-out 0.3s;
}
.container .row .col-2 .payment i {
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 16px;
  color: #40b659;
}
.container .row .col-2 .payment p {
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: #40b659;
}
.container .row .col-2 .payment:hover {
  background-color: #40b659;
}
.container .row .col-2 .payment:hover p {
  color: #fff;
}
.container .row .col-2 .payment:hover i {
  color: #fff;
}

.navbarlist {
  margin-top: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.navbarlist .list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarlist .list p {
  margin-right: 10px;
  font-size: 1.3rem;
  font-family: Inter, sans-serif;
  color: rgba(0, 0, 0, 0.355);
}
.navbarlist .list i {
  font-size: 6px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.355);
}

.footersection {
  background-color: #090909;
  padding-top: 70px;
}
.footersection .container .row {
  width: 100%;
}
.footersection .container .row .col-3 .footer__qr {
  border: 1px solid #545454;
  border-radius: 1.6rem;
  padding: 5rem 4.5rem 3.2rem;
  max-width: 26.8rem;
  text-align: center;
  color: #95979c;
  background-color: black;
}
.footersection .container .row .col-3 .footer__qr img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.footersection .container .row .col-3 .footer__qr p {
  width: 100%;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
}
.footersection .container .row .col-2 .footer__menu__item h3 {
  font-weight: 600;
  line-height: 1.2;
  font-size: 2.4rem;
  color: #f8f8f8;
  margin-bottom: 3.6rem;
  font-family: Inter, sans-serif;
}
.footersection .container .row .col-2 .footer__menu__item__sub__item {
  margin-bottom: 1.2rem;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
.footersection .container .row .col-2 .footer__menu__item__sub__item a {
  text-decoration: none;
  color: #95979c;
}
.footersection .container .row .col-2 .footer__menu__item__sub__item a p {
  margin-top: 8px;
}
.footersection .container .row .col-2 .footer__menu__item h3 {
  font-weight: 600;
  line-height: 1.2;
  font-size: 2.4rem;
  color: #f8f8f8;
  margin-bottom: 3.6rem;
  font-family: Inter, sans-serif;
}
.footersection .container .row .col-2 .footer__menu__item__sub__item {
  margin-bottom: 1.8rem;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
.footersection .container .row .col-2 .footer__menu__item__sub__item a {
  text-decoration: none;
  color: #95979c;
}
.footersection .container .row .col-2 .footer__menu__item__sub__item a p {
  margin-top: 8px;
}
.footersection .container .row .col-4 .footer__contacts h3 {
  font-weight: 600;
  font-size: 2.4rem;
  color: #f8f8f8;
  margin-bottom: 3.6rem;
  display: block;
  font-family: Inter, sans-serif;
}
.footersection .container .row .col-4 .footer__contacts .getinfo {
  border-bottom: 1px solid #95979c;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footersection .container .row .col-4 .footer__contacts .getinfo .number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footersection .container .row .col-4 .footer__contacts .getinfo .number p {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #f8f8f8;
}
.footersection .container .row .col-4 .footer__contacts .getinfo .icon i {
  font-size: 2.5rem;
  border: 1px solid #f8f8f8;
  border-radius: 100%;
  padding: 20px;
  color: #f8f8f8;
}
.footersection .container .row .col-4 .footer__contacts .getinfo .address p {
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  color: #f8f8f8;
  color: black;
  line-height: 2rem;
  color: #f8f8f8;
  font-weight: 500px;
}
.footersection .container .row .col-4 .footer__contacts .follow h4 {
  font-weight: 500;
  font-size: 1.6rem;
  color: #f8f8f8;
  margin: 2.6rem 0;
  display: block;
  font-family: Inter, sans-serif;
}
.footersection .container .row .col-4 .footer__contacts .follow .cites {
  font-size: 2.6rem;
  color: #f8f8f8;
}
.footersection .container .row .col-4 .footer__contacts .store-buttons {
  display: flex;
  gap: 10px;
}
.footersection .container .row .col-4 .footer__contacts .store-buttons .store-button {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 9px;
  outline: #f8f8f8;
  color: white;
  text-decoration: none;
  font-size: 10px;
  font-family: Inter, sans-serif;
  background-color: #222;
}
.footersection .container .row .col-4 .footer__contacts .store-buttons .store-button p {
  font-size: 18px;
}
.footersection .container .row .col-4 .footer__contacts .store-buttons .store-button i {
  margin-right: 8px;
  font-size: 30px;
}
.footersection .container .row .footer__copyright {
  margin-top: 10rem;
  align-items: center;
}
.footersection .container .row .footer__copyright .col-lg-5 {
  color: #95979c;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
.footersection .container .row .footer__copyright .col-lg-4 {
  color: #95979c;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
.footersection .container .row .footer__copyright .col-lg-4 a {
  text-decoration: none;
  color: #95979c;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
.footersection .container .row .footer__copyright .col-lg-4 a span {
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .row .col-3, .row .col-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .row .col-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row .col-4 .store-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__copyright {
    margin-top: 3rem;
    text-align: center;
  }
  .footer__copyright .col-lg-5,
  .footer__copyright .col-lg-4 {
    text-align: center;
    margin-bottom: 2rem;
  }
}
#image .row {
  width: 100%;
}
#image .row .imageplace {
  height: 302.5px;
  width: 100%;
  background-image: url("https://irshad.az/images/category-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  gap: 170px;
}
#image .row .imageplace .item {
  z-index: 1;
  left: 80px;
  position: absolute;
}
#image .row .imageplace .item .medialogo {
  width: 165px;
  height: 20px;
  margin-bottom: 1.6rem;
}
#image .row .imageplace .item .medialogo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#image .row .imageplace .item .name p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #232d40;
  display: flex;
  align-items: center;
  max-width: 42rem;
}
#image .row .imageplace .price {
  position: absolute;
  right: 80px;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
#image .row .imageplace .price p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #232d40;
  font-family: Inter, sans-serif;
}
#image .row .imageplace .price h1 {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #232d40;
  border: 4px solid #f6861f;
  border-radius: 16px;
  padding: 1.2rem 2rem;
  font-family: Inter, sans-serif;
  display: inline-block;
}
#image .row .imageplace .price h1 span {
  font-size: 0.64em;
  line-height: 0;
  vertical-align: baseline;
}
#image .row .imageplace .air {
  height: 300px;
  width: 280px;
  position: absolute;
}
#image .row .imageplace .air img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.irshadproduct {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.8rem;
  color: #232d40;
  margin-bottom: 3.6rem;
  font-family: Inter, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 20px 35px;
}
.header .first {
  color: #95979c;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.header .first select {
  border: unset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/svg-icons/arrow-bottom.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem 0.675rem;
  background-position: 100% 60%;
  padding-right: 1.7rem;
  color: #232d40;
  font-weight: 500;
  cursor: pointer;
  margin-top: 13px;
}
.header .second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #95979c;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
}
.header .second .square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.header .third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 50px;
  color: #95979c;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.header .third .grid {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.header .third .grid i {
  font-size: 30px;
  color: #f6861f;
}

.producti {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid gray;
  border-top: none;
  padding: 25px;
}
.producti .icons {
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
  margin-left: 30px;
  font-size: 35px;
  margin-bottom: 30px;
  color: rgba(169, 179, 193, 0.33);
}
.producti .icons .sc {
  transition: ease-in-out 0.3s;
}
.producti .icons .sc:hover {
  color: #f6861f;
}
.producti .icons .lv {
  transition: ease-in-out 0.3s;
}
.producti .icons .lv:hover {
  color: red;
}
.producti .productimg {
  width: 200px;
  height: 249px;
  overflow: hidden;
  margin-bottom: 40px;
}
.producti .productimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.producti .productinfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.producti .productinfo p {
  color: #95979c;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: Inter, sans-serif;
}
.producti .productinfo h6 {
  color: #232d40;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
  word-break: break-word;
  font-family: Inter, sans-serif;
  margin-bottom: 15px;
}
.producti .productinfo .circle {
  border: 1px dashed gray;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 20px;
}
.producti .productinfo .starsandcom {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.producti .productinfo .starsandcom .stars {
  font-size: 2rem;
}
.producti .productinfo .starsandcom .stars i {
  color: rgba(169, 179, 193, 0.33);
}
.producti .productinfo .starsandcom .comment {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-size: 2rem;
  color: gray;
  font-weight: 200;
}
.producti .productinfo .starsandcom .comment span {
  font-family: Inter, sans-serif;
  font-size: 20px;
}
.producti .productinfo .button {
  padding: 12px 17px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: rgba(23, 67, 223, 0.07);
  margin-bottom: 10px;
  margin-top: 20px;
}
.producti .productinfo .button h5 {
  font-weight: 600;
  font-size: 1.1rem;
  color: #1743df !important;
  font-family: Inter, sans-serif;
}
.producti .productinfo .secondbutton {
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  margin-bottom: 6rem;
  border: 1px solid rgb(0, 128, 0);
  margin-right: 1rem;
}
.producti .productinfo .secondbutton h4 {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 2rem;
  color: rgb(0, 128, 0) !important;
  font-family: Inter, sans-serif;
}
.producti .productinfo .prices span {
  color: #95979c;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-decoration: line-through;
}
.producti .productinfo .prices h4 {
  color: #232d40;
  font-size: 2.1rem;
  line-height: 2.8rem;
  font-weight: 600;
  font-family: Inter, sans-serif;
}
.producti .productinfo .thirdbutton {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #40b659;
  background-color: #40b659;
  font-size: 20px;
  font-family: Inter, sans-serif;
  line-height: 2rem;
  padding: 15px 70px 15px 30px;
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  transition: ease-in-out 0.3s;
}
.producti .productinfo .thirdbutton:hover {
  background-color: white;
  color: #40b659;
}
.producti:hover {
  box-shadow: 0 15px 80px rgba(0, 0, 0, 0.07), 0 1.87823px 10.0172px rgba(0, 0, 0, 0.035);
}
.producti .calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 12px;
  background-color: rgba(149, 151, 156, 0.0470588235);
  position: absolute;
  right: -36px;
  bottom: 120px;
}
.producti .calendar .months {
  display: flex;
  justify-content: center;
  align-items: center;
}
.producti .calendar .months .month {
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 0.7rem;
  border-radius: 4px;
  color: #95979c;
  cursor: pointer;
  border: 1px solid transparent;
}
.producti .calendar .months .month p, .producti .calendar .months .month h1 {
  font-size: 1rem;
  line-height: 2rem;
}
.producti .calendar .months .month:hover {
  border: 1px solid black;
}
.producti .calendar .months .month:hover p, .producti .calendar .months .month:hover h1 {
  color: black;
}
.producti .calendar .pmt {
  color: #232d40;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-top: 0.4rem;
  font-family: Inter, sans-serif;
}

.mybutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.mybutton .fourthbutton {
  border-radius: 8px;
  border: 1px solid #f6861f;
  background-color: #f6861f;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: Inter, sans-serif;
}
.mybutton .fourthbutton:hover {
  background-color: white;
  color: #f6861f;
}

.textp {
  padding-left: 10px;
}
.textp h1 {
  font-size: 2.6rem;
  margin-bottom: 1.6rem;
  line-height: 1.2;
  color: #232d40;
  font-family: Inter, sans-serif;
  font-weight: 600;
}
.textp p {
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #5b5f66;
  margin-bottom: 1.6rem;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

#fav {
  margin-bottom: 150px;
}
#fav .head .txt h1 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.8rem;
  color: #232d40;
  margin-bottom: 3.6rem;
  font-family: Inter, sans-serif;
}
#fav .favs {
  border: 1px solid gray;
  border-radius: 20px;
}
#fav .favs .producti {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-left: none;
  border-bottom: none;
  padding: 25px;
}
#fav .favs .producti .icons {
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
  margin-left: 30px;
  font-size: 35px;
  margin-bottom: 30px;
  color: rgba(169, 179, 193, 0.33);
}
#fav .favs .producti .icons .sc {
  transition: ease-in-out 0.3s;
}
#fav .favs .producti .icons .sc:hover {
  color: #f6861f;
}
#fav .favs .producti .icons .lv {
  transition: ease-in-out 0.3s;
}
#fav .favs .producti .icons .lv:hover {
  color: red;
}
#fav .favs .producti .productimg {
  width: 200px;
  height: 249px;
  overflow: hidden;
  margin-bottom: 40px;
}
#fav .favs .producti .productimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#fav .favs .producti .productinfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#fav .favs .producti .productinfo p {
  color: #95979c;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: Inter, sans-serif;
}
#fav .favs .producti .productinfo h6 {
  color: #232d40;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
  word-break: break-word;
  font-family: Inter, sans-serif;
  margin-bottom: 15px;
}
#fav .favs .producti .productinfo .circle {
  border: 1px dashed gray;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 20px;
}
#fav .favs .producti .productinfo .starsandcom {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
#fav .favs .producti .productinfo .starsandcom .stars {
  font-size: 2rem;
}
#fav .favs .producti .productinfo .starsandcom .stars i {
  color: rgba(169, 179, 193, 0.33);
}
#fav .favs .producti .productinfo .starsandcom .comment {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-size: 2rem;
  color: gray;
  font-weight: 200;
}
#fav .favs .producti .productinfo .starsandcom .comment span {
  font-family: Inter, sans-serif;
  font-size: 20px;
}
#fav .favs .producti .productinfo .button {
  padding: 12px 17px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: rgba(23, 67, 223, 0.07);
  margin-bottom: 10px;
  margin-top: 20px;
}
#fav .favs .producti .productinfo .button h5 {
  font-weight: 600;
  font-size: 1.1rem;
  color: #1743df !important;
  font-family: Inter, sans-serif;
}
#fav .favs .producti .productinfo .secondbutton {
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  margin-bottom: 6rem;
  border: 1px solid rgb(0, 128, 0);
  margin-right: 1rem;
}
#fav .favs .producti .productinfo .secondbutton h4 {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 2rem;
  color: rgb(0, 128, 0) !important;
  font-family: Inter, sans-serif;
}
#fav .favs .producti .productinfo .prices span {
  color: #95979c;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-decoration: line-through;
}
#fav .favs .producti .productinfo .prices h4 {
  color: #232d40;
  font-size: 2.1rem;
  line-height: 2.8rem;
  font-weight: 600;
  font-family: Inter, sans-serif;
}
#fav .favs .producti .productinfo .thirdbutton {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #40b659;
  background-color: #40b659;
  font-size: 30px;
  font-family: Inter, sans-serif;
  line-height: 2rem;
  padding: 15px 100px 15px 100px;
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  transition: ease-in-out 0.3s;
}
#fav .favs .producti .productinfo .thirdbutton:hover {
  background-color: white;
  color: #40b659;
}
#fav .favs .producti:hover {
  box-shadow: 0 15px 80px rgba(0, 0, 0, 0.07), 0 1.87823px 10.0172px rgba(0, 0, 0, 0.035);
}
#fav .favs .producti .calendar {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid transparent;
  padding: 14px;
  border-radius: 12px;
  background-color: rgba(149, 151, 156, 0.0470588235);
  position: absolute;
  right: 6px;
  bottom: 120px;
}
#fav .favs .producti .calendar .months {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#fav .favs .producti .calendar .months .month {
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 2px 0.7rem;
  border-radius: 4px;
  color: #95979c;
  cursor: pointer;
  border: 1px solid transparent;
}
#fav .favs .producti .calendar .months .month p, #fav .favs .producti .calendar .months .month h1 {
  font-size: 1.1rem;
  line-height: 2rem;
  font-family: Inter, sans-serif;
}
#fav .favs .producti .calendar .months .month:hover {
  border: 1px solid black;
}
#fav .favs .producti .calendar .months .month:hover p, #fav .favs .producti .calendar .months .month:hover h1 {
  color: black;
}
#fav .favs .producti .calendar .pmt {
  color: #232d40;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-top: 0.4rem;
  margin-left: 10px;
  font-family: Inter, sans-serif;
}/*# sourceMappingURL=style.css.map */